li {
  padding-left: 30px;
}

ul {
  list-style-type: none;
}


.lower_form_header {
  display: flex;
  background: #2a5371;
  justify-content: center;
  align-content: space-between;

}

.nav-ul {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.nav-li {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-size: 30px;
}

.main-info-div {
  background-image: url(http://i.imgur.com/96RtzGa.jpg);
  background-size: cover;
  background-position: 30% 50%;
  width: 100%;
  height: 650px;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  margin: auto;
}

.main-info-text {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 30px;
  margin-top: 0;
}


.main-info-div-paralax {
  padding-left: 150px;
  margin-top: 60px;
}

.main-label {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-right: 20px;
  font-size: 24px;
}

.form-inputs {
  border-radius: 7px;
  width: 430px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  font-size: 18px;
}

.form-textarea {
  border-radius: 7px;
  width: 430px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  height: 130px;
  font-size: 18px;
}

textarea {
  resize: none;
}

hr {
  width: 90%;
  margin: 0;
}

.main-info-right {
  flex-direction: row;
  margin-top: 85px;
  margin-left: 100px;

}

.property-wrapper {
  background-image: url(http://i.imgur.com/yFtY54t.jpg);
  background-size: cover;
  background-position: 30% 50%;
  width: 100%;
  height: 650px;
  display: flex;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
}

.property-info-title {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 30px;
  margin-top: 0;
}

.dropzone-img {
  width: 300px;
  height: 200px;
  border-radius: 7px;
  opacity: .7;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
}

.property-div-paralax {
  padding-top: 60px;
  padding-left: 150px;
  display: flex;
}

.select-btn {
  border-radius: 7px;
  width: 175px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  font-size: 18px;
}

.right-side-property {
  justify-content: flex-end;
  margin-left: 20px;
}

.rules-textarea {
  border-radius: 7px;
  width: 320px;
  border: none;
  height: 110px;
  font-size: 18px;
}




// -------------- START AMENITIES ----------------

.main-list-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 15%;
}

.ameneties_wrapper {
    background-image: url(http://i.imgur.com/VEX7BLq.jpg);
  background-size: cover;
  background-position: 30% 50%;
  width: 100%;
  height: 650px;
  display: flex;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
}

.main-list-wrapper input {

}


// ------------------ END AMENITIES ----------------

.description_of_area {
  background-image: url(http://i.imgur.com/jaFCMmz.jpg);
  background-size: cover;
  background-position: 30% 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
}

.description_of_space {
  display: inline-block;
  margin: 10px;
}

.descrip-space-span {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 30px;
  margin-top: 0;
  text-shadow: 2px 2px 4px #000000;}

.descrip-space {
  border-radius: 7px;
  width: 430px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  height: 130px;
  font-size: 18px;
  height: 80px;
  box-shadow: 0px 2px 4px #000000;
}

div.guest_access {
  display: inline-block;
  margin: 10px;
}

.guest-span {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 30px;
  margin-top: 0;
  text-shadow: 2px 2px 4px #000000;
}

.guest-instruc {
  border-radius: 7px;
  width: 430px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  height: 130px;
  font-size: 18px;
  height: 80px;
  box-shadow: 0px 2px 4px #000000;
}

.interaction_with_guests {
  display: inline-block;
  margin: 10px;
}

.interact-guest-span {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 30px;
  margin-top: 0;
  text-shadow: 2px 2px 4px #000000;
}

.interact-guest {
  border-radius: 7px;
  width: 430px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  height: 130px;
  font-size: 18px;
  height: 80px;
  box-shadow: 0px 2px 4px #000000;
}

.the_area {
  display: inline-block;
  margin: 10px;
}

.the-area-span {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 30px;
  margin-top: 0;
  text-shadow: 2px 2px 4px #000000;
}

.the-area-textarea {
  border-radius: 7px;
  width: 430px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  height: 130px;
  font-size: 18px;
  height: 80px;
  box-shadow: 0px 2px 4px #000000;
}

.other-things-span {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 30px;
  margin-top: 0;
  text-shadow: 2px 2px 4px #000000;
}

.other-things-textarea {
  border-radius: 7px;
  width: 430px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  height: 130px;
  font-size: 18px;
  height: 80px;
  box-shadow: 0px 2px 4px #000000;
}

div.other_things_to_note {
  display: inline-block;
  margin: 10px;
}

.base_price {
  display: inline-block;
  margin: 10px;
}

.base_price_label {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 30px;
  margin-top: 0;
  text-shadow: 2px 2px 4px #000000;
}

.base_price_input {
  border-radius: 7px;
  width: 430px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  font-size: 18px;
  box-shadow: 0px 2px 4px #000000;
}

.double-btns {
  justify-content: flex-end;
}

.submit-btn-create {
  box-shadow: 0px 2px 4px #000000;
  margin-bottom: 5px;
}

.cancel-link{
  text-decoration: none;
  background-color: white;
  border-radius: 4px;
  color: black;
  margin-top: 15px;
  font-size: 10px;
  padding: 5px;
  box-shadow: 0px 2px 4px #000000;

}




