@mixin button-emphasis {
	color: black;
	background-color: lighten(gray, 30%);
	border: 2px solid black;
	border-radius: 3px;
	font-size: 24px;
	text-decoration: none;
	margin: 5px 5px;
	padding: 10px;
}

@mixin button-regular($fontsize) {
	color: black;
	background-color: lighten(gray, 30%);
	border: .5px solid black;
	border-radius: 3px;
	font-size: $fontsize;
	text-decoration: none;
	margin: 5px 5px;
	padding: 5px;
}

.title {
	color: black;
	border-radius: 5px;
	text-align: center;
}

#link {
	// text-align: center;
	// margin: 0 auto;
	// display: inline-block;
	border: 3px solid black;
	text-decoration: none;
	// margin: 80px 80px;
	// text-decoration: none;
}

.center-me {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.new-listing {
	@include button-emphasis;
	text-align: center;
}

.button-regular {
	@include button-regular(18px);
}

.cabin {
	// border: 3px solid red;
	height: 300px;
	width: 300px;
	margin: 30px 30px;
	border: 2px solid black;
  	border-radius: 5px;
  	margin: 20px;
}

.cabin-info {
	img{
		height: 230px;
		width: 230px;
		margin: 0 auto;
	}
	.cabin-info-title {
		font-family: Arial; 
		text-decoration: none;
		text-align: center;
		color: black;
	}
	.cabin-info-id {
		font-family: Arial;
		font-size: 10px;
		text-decoration: none;
		color: black;
	}
}



