
.generate-new-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


// -------------------------------- START TOP ----------------------------

.top {
	background-color: black;
}

.hero-image img {
	width: 100vw;
	height: 390px;
	object-fit: cover;
}

.top-text-div{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.title-top {
	align-items: center;
}

.property-description {
	width: 650px;
	align-items: flex-end;
}

.property-link {
	text-align: center;
	width: 650px;
	position: relative;
    top: 9px;
}

.top-row-div {
	flex-direction: row;
	display: flex;
	margin-bottom: 25px;
}




// -------------------------------- END TOP ----------------------------


// -------------------------------- START MIDDLE ----------------------------


.middle {
	padding-left: 10%;
	box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
}

.amenities {
	display: flex;
	flex-direction: row;
}

.amenities ul{
    list-style-type: none;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 10%;
}





// -------------------------------- END MIDDLE ----------------------------


// -------------------------------- START BOTTOM ----------------------------

.bottom {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.host-image img{
    border-radius: 50%;
    height: 30vh;
    width: auto;
}

.host-info {
	align-content: space-between;
}

.gb-main-wrapper{
	display: flex;
}

.gb-and-entry {
	display: flex;
}

.gb-img {
   width: 50%;
   height: 100%;
   max-width: 350px;
   min-width: 200px;
}

.gb-entry {
  background: white;
  padding: 25px;
  padding-top: 100px;
  width: 200px;
  text-align: center;
}






// -------------------------------- END BOTTOM ----------------------------