@mixin button-regular-extra-sm($fontsize) {
	color: black;
	background-color: lighten(gray, 10%);
	// border: .3px solid black;
	border-radius: 3px;
	font-size: $fontsize;
	font-weight: bolder;
	text-decoration: none;
	// margin: 2px 2px;
	padding: 2px;
}

#head-submit-btn {
	@include button-regular-extra-sm(10px);
	border: none;
}