.heading {
  display: flex;
  background-color: #f4c45e;
}

.logo-login-reg{
  padding: 0;
  margin: 0;
  display: flex;
}

.heading_property_wrapper{
  padding: 0px;
  width: 100%;
}

.search-select-submit {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 7px;
}

.heading-flex{
  // display:flex;
  // flex-direction:row;
  background-color: #f4c45e;
}

.home-logo{
  content: url(http://i.imgur.com/e6ZMPCc.jpg);
  height: 81px;
  margin: 0;
  padding: 0;
}

.search-bar {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #f4c45e;
  border: 1px solid rgba(229, 172, 56, 0.3);
  height: 40px;
  border: none;
  width: 220px;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  text-align: center;
  /* display: flex; */
  margin: 0;
  outline: none;
  autocomplete: off;
}

.heading-btn {
  margin-left: 5px;
}

.search-bar::-webkit-input-placeholder {
   color: white;
}
