@mixin button-emphasis {
	color: black;
	background-color: lighten(yellow, 10%);
	border: 2px solid black;
	border-radius: 3px;
	font-size: 24px;
	text-decoration: none;
	margin: 5px 5px;
	padding: 10px;
}

@mixin button-regular($fontsize) {
	color: black;
	background-color: lighten(gray, 10%);
	border: 1px solid black;
	border-radius: 3px;
	font-size: $fontsize;
	text-decoration: none;
	margin: 5px 5px;
	padding: 5px;
}

@mixin button-regular-sm($fontsize) {
	color: black;
	background-color: lighten(gray, 10%);
	border: 1px solid black;
	border-radius: 3px;
	font-size: $fontsize;
	letter-spacing: .75px;
	text-decoration: none;
	margin: 5px 5px;
	padding: 5px;
}

.button-regular-sm {
	@include button-regular-sm(10px);
}