/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';

.main nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.heading {
	text-align: center;	
}

.modal-back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(0,0,0,0.7);
}

.modal {
  background: white;
  align-content: center;
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  padding: 10px;
  text-align: center;

  button {
    margin: 20px;
  }
}
