/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';
@import 'dash';
@import 'main-page';
@import 'login';
@import 'heading';

body {
  padding: 0;
  margin: 0;
}

.login-link {
  text-decoration: none;
  color: white;
  background: #f4c45e;
  padding: 0;
  padding-right: 0px;
  padding-left: 35px;  
  font-family: 'Noto Sans', sans-serif;
  line-height: 80px;
  height: 60px;
}

.register-link {
  text-decoration: none;
  color: white;
  background: #f4c45e;
  padding: 0;
  padding-right: 0px;
  padding-left: 15px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 80px;
  height: 60px;
}

// --------------------- HEADING --------------------

.heading {
  display: flex;
  background-color: #f4c45e;
}

.logo-login-reg{
  padding: 0;
  margin: 0;
  display: flex;
}

.heading_property_wrapper{
  margin-top: -14px;
  padding: 0px;
  width: 100%;
}

.search-select-submit {
  display: flex;
  justify-content: center;
  margin-left: 25%;
}

.heading-flex{
  // display:flex;
  // flex-direction:row;
  background-color: #f4c45e;
}

.home-logo{
  content: url(http://i.imgur.com/e6ZMPCc.jpg);
  height: 81px;
  margin: 0;
  padding: 0;
}

.search-bar {
  background-color: #f4c45e;
  border: transparent;
  color: white;
  font-size: 18px;
  text-align: center;
  min-height: 59px;
  /* display: flex; */
  margin: 0;
  outline: none;
  autocomplete: off;
}

.heading-btn {
  margin-left: 5px;
}

.search-bar::-webkit-input-placeholder {
   color: white;
}



// --------------------- END OF HEADING --------------------



// --------------------- START OF MAIN --------------------

.main nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  background-color: white;
}

.main-hero-img {
  background-image: url(http://i.imgur.com/vrbOnrk.jpg);
  background-size: cover;
  background-position: 30% 50%;
  width: 100%;
  height: 480px;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
}

.aboutme-top {
  background-color: #2a5371;
  width: 99.4%;
  height: 400px;
  box-shadow: inset 3px 10px 10px rgba(0, 0, 0, 0.5);
}

// --------------------- END OF MAIN --------------------



// ----------------- GENERATE NEW PAGE -------------------

.top {
  background-color: white;
}

.middle {
  background-color: #f5f5f5;
}

.bottom {
  background-color: #8e8e8e;
}

.false {
  opacity: .5;
  text-decoration: line-through;

}


// ----------------- END OF GENERATE NEW PAGE -------------------



// ----------------- START OF CREATE NEW LISTING -------------------

li {
  padding-left: 30px;
}

ul {
  list-style-type: none;
}


.lower_form_header {
  display: flex;
  background: #2a5371;
  justify-content: center;
  align-content: space-between;

}

.nav-ul {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.nav-li {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-size: 30px;
}

.main-info-div {
  background-image: url(http://i.imgur.com/96RtzGa.jpg);
  background-size: cover;
  background-position: 30% 50%;
  width: 100%;
  height: 650px;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  margin: auto;
}

.main-info-text {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 30px;
  margin-top: 0;
}


.main-info-div-paralax {
  padding-left: 150px;
  margin-top: 60px;
}

.main-label {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-right: 20px;
  font-size: 24px;
}

.form-inputs {
  border-radius: 7px;
  width: 430px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  font-size: 18px;
}

.form-textarea {
  border-radius: 7px;
  width: 430px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  height: 130px;
  font-size: 18px;
}

textarea {
  resize: none;
}

hr {
  width: 90%;
  margin: 0;
}

.main-info-right {
  flex-direction: row;
  margin-top: 85px;
  margin-left: 100px;

}

.property-wrapper {
  background-image: url(http://i.imgur.com/yFtY54t.jpg);
  background-size: cover;
  background-position: 30% 50%;
  width: 100%;
  height: 650px;
  display: flex;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
}

.property-info-title {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  padding-top: 10px;
  font-size: 30px;
  margin-top: 0;
}

.dropzone-img {
  width: 300px;
  height: 200px;
  border-radius: 7px;
  opacity: .7;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
}

.property-div-paralax {
  padding-top: 60px;
  padding-left: 150px;
  display: flex;
}

.select-btn {
  border-radius: 7px;
  width: 175px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  font-size: 18px;
}

.right-side-property {
  justify-content: flex-end;
  margin-left: 20px;
}

.rules-textarea {
  border-radius: 7px;
  width: 320px;
  border: none;
  height: 110px;
  font-size: 18px;
}

.main-list-wrapper {
  flex-direction: column;
}

.ameneties_wrapper {
    background-image: url(http://i.imgur.com/VEX7BLq.jpg);
  background-size: cover;
  background-position: 30% 50%;
  width: 100%;
  height: 650px;
  display: flex;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
}

.description_of_area {
  background-image: url(http://i.imgur.com/jaFCMmz.jpg);
  background-size: cover;
  background-position: 30% 50%;
  width: 100%;
  height: 650px;
  display: flex;
  box-shadow: inset 7px 10px 30px rgba(0, 0, 0, 0.5);
}


// ----------------- START OF SEARCHED PAGE -------------------

.searched-page-wrapper {

}

.searched-flexme {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.searched-wrapper {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 250px;
  border: 1px solid red;
}

.search-title {
  text-align: center;
  background-color: #2a5371;
  margin: 0;
  padding: 25px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 25px;
}

.searched-img {
  width: 250px;
  height: 150px;
}

.searched-title {
  font-size: 12px;
}

.searched-price {
  font-size: 12px;
}

.searched-property {
  font-size: 12px;
}

//////////////////////////////////////////////////////
// ----------------- END OF SEARCHED PAGE -------------------


.gb-main-wrapper {
  border: 1px solid red;
}

